<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/slid.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Realtime Health Supervison Contro</title>
  </head>
  <body>
    <nav id="navbar">
      <div id="logo">Real-Time <br />Health Care</div>
      <ul id="nav1">
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/alogin">Consult</a></li>
        <li class="item"><a href="/alogin">Medicine</a></li>
        <li class="item"><a href="/alogin">Disease</a></li>
        <li class="item"><a href="/alogin">Nearby Hospital</a></li>
      </ul>
      <div class="losu">
        <button>
          <a href="/login">Login</a>
          <hr class="vbar" />
          <a href="/register">Register</a>
        </button>
      </div>
    </nav>
    <div class="tophomeintro">
      <div class="intro">
        <h1>Now Consult Doctor</h1>
        <h1>from home</h1>
        <p>A healthy life should be a habit, not a goal to achieve</p>
        <form action="/alogin">
          <button>
            <h3>Book Appointment now</h3>
          </button>
        </form>
      </div>
    </div>
    <div>
      <h1 id="med3">Welcome to RHSC</h1>
    </div>

    <div id="sld">
      <div class="slider">
        <div class="slides">
          <input type="radio" name="radio-btn" id="radio1" />
          <input type="radio" name="radio-btn" id="radio2" />
          <input type="radio" name="radio-btn" id="radio3" />
          <input type="radio" name="radio-btn" id="radio4" />
          <div class="slide first">
            <img src="images/sl4.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="images/sl2.png" alt="" />
          </div>
          <div class="slide">
            <img src="images/sl3.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="images/sl1.jpg   " alt="" />
          </div>
        </div>
        <div class="navigation-manual">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
          <label for="radio4" class="manual-btn"></label>
        </div>
      </div>
    </div>

    <div id="cn">
      <div class="cn12">
        <h3>Steps to Consult a Doctor</h3>
      </div>
      <section class="cn1" id="cn1">
        <!-- <div class="aaa">
        <img src="img/logo.png" alt="" />
      </div> -->
        <div class="cn11">
          <h3>1. Select the type of Doctor you want to consult</h3>
        </div>
        <div class="aaa">
          <img src="images/logo.png" alt="" />
        </div>
        <div class="aaa">
          <img src="images/logo.png" alt="" />
        </div>
        <div class="cn11">
          <h3>2. Schedule your appointment</h3>
        </div>
        <div class="cn11">
          <h3>3. Join your appointment at Schedule time</h3>
          <p>Use Audio,Video & Chat</p>
        </div>
        <div class="aaa">
          <img src="images/logo.png" alt="" />
        </div>
        <div class="aaa">
          <img src="images/logo.png" alt="" />
        </div>
        <div class="cn11">
          <h3>4. share everything related to health with the doctor</h3>
        </div>
        <div class="cn11">
          <h3>5. Get an E-prescription from Doctor</h3>
        </div>
        <div class="aaa">
          <img src="images/logo.png" alt="" />
        </div>
        <div class="aaa">
          <img src="images/logo.png" alt="" />
        </div>
        <div class="cn11">
          <h3>6. Make a payment</h3>
        </div>
      </section>
    </div>
  </body>
</html>
