<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        background-color: #d5e7f9;
      }
      h1 {
        color: #4535da;
        text-align: center;
      }
    </style>
    <title>thankyou</title>
  </head>
  <body style="background-color: #d5e7f9">
    <h1 style="color: #4535da">Thankyou for choosing RHSC</h1>
  </body>
</html>
