* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: center;
}
body {
  font-family: sans-serif;
  font-size: 14px;
  background-size: cover;
  /* background: url(pic1.jpg);
  background-size: cover;
  background-position: center; */
  font-family: sans-serif;
  height: 500px;
  color: black;
}
.wrapper {
  width: fit-content;
  margin: auto;
  margin-top: 20vh;
  background-color: #edf0f1;
  padding: 40px;
  border-radius: 30px;
}
.input-name {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin: auto;
}
.input-name input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="file"],
input[type="number"] {
  border: none;
  border-bottom: 2px solid #4535da;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 16px;
  /* color: #4535da; */
}
.input-namee {
  width: 30%;
  margin: auto;
  /* padding: 10px;  */
}
.input-namee input[type="submit"] {
  background-color: #4535da;
  border: 1px solid #4535da;
  color: white;
  border-radius: 10px;
  height: 50px;
  font-size: 23px;
  padding: 13px;
}
.input-namee input[type="submit"]:hover {
  background-color: white;
  color: #4535da;
}
.wrapper h2 {
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 30px;
  text-align: center;
}
.radio-button {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.gender {
  margin-right: 16px;
}
.gender::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 100%;
  vertical-align: -3px;
  border: 2px solid #4535da;
  padding: 2.5px;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}
.radio-button:hover + .gender::before {
  border-color: #4535da;
}
.radio-button:checked + .gender::before {
  background-color: #4535da;
  border-color: #4535da;
}
/* .wrapper {
  background: rgb(237, 240, 241);
  height: 600px;
  width: 500px;
  padding: 20px;
  margin: 50px auto 0;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 70px 30px;
  background-position: center;
}
.input-name {
  width: 90%;
  position: relative;
  margin: 20px auto;
}
.lock {
  padding: 8px 11px;
}
.name {
  width: 45%;
  padding: 8px 0 8px 40px;
}
.input-name span {
  margin-left: 35px;
}
.text-name {
  width: 100%;
  padding: 8px 0 8px 40px;
}
.input-name i {
  position: absolute;
  font-size: 18px;
  border-right: 1px solid #e6d6d6;
}
.email {
  padding: 8px;
}
.text-name,
.name {
  border: 1px solid #f1eaea;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.text-name:hover,
.name:hover {
  background-color: #fafafa;
}
.text-name:focus,
.name:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0, 5);
  box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
  border: 1px solid #f5ba1a;
  background: #fafafa;
}
.button {
  background-color: #293f53;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  color: #ffff;
  font-size: 18px;
  margin-bottom: 10px;
} */
/* .button:hover {
  background-color: #f8c22e;
}
.button:focus {
  background-color: #f8c22e;
} */

/* .a :focus {
  text-align: center;
} */
